USE [master]
GO
/****** Object:  Database [DBweblaptop]    Script Date: 27/04/2026 5:40:31 PM ******/
CREATE DATABASE [DBweblaptop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBweblaptop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DBweblaptop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBweblaptop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DBweblaptop_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBweblaptop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBweblaptop]
GO
/****** Object:  Table [dbo].[AdminUsers]    Script Date: 27/04/2026 5:40:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminUsers](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[PasswordHash] [nvarchar](256) NOT NULL,
	[IsSuperAdmin] [bit] NOT NULL,
	[CanViewOrders] [bit] NOT NULL,
	[CanUpdateOrders] [bit] NOT NULL,
	[CanCancelOrders] [bit] NOT NULL,
	[CanViewReviews] [bit] NOT NULL,
	[CanReplyReviews] [bit] NOT NULL,
	[CanDeleteReviews] [bit] NOT NULL,
	[CanManageInventory] [bit] NOT NULL,
	[CanDeleteInventory] [bit] NOT NULL,
	[CanImportInventory] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CanManageWebsite] [bit] NOT NULL,
	[SettingId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BannerSlides]    Script Date: 27/04/2026 5:40:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BannerSlides](
	[SlideId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NULL,
	[Subtitle] [nvarchar](500) NULL,
	[ImageUrl] [nvarchar](1000) NULL,
	[LinkUrl] [nvarchar](1000) NULL,
	[DisplayOrder] [int] NOT NULL,
	[ButtonText] [nvarchar](100) NOT NULL,
	[SecondaryButtonText] [nvarchar](100) NOT NULL,
	[SecondaryButtonLink] [nvarchar](1000) NOT NULL,
	[KickerText] [nvarchar](100) NOT NULL,
	[ThemePrimaryColor] [nvarchar](20) NOT NULL,
	[ThemeAccentColor] [nvarchar](20) NOT NULL,
	[TitleFontSize] [int] NOT NULL,
	[SubtitleFontSize] [int] NOT NULL,
	[KickerFontSize] [int] NOT NULL,
	[ButtonFontSize] [int] NOT NULL,
	[ChipFontSize] [int] NOT NULL,
	[PanelOpacityPercent] [int] NOT NULL,
	[PanelWidthPercent] [int] NOT NULL,
	[PanelPadding] [int] NOT NULL,
	[PanelRadius] [int] NOT NULL,
	[SettingId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SlideId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 27/04/2026 5:40:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[OrderItemId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[ProductName] [nvarchar](255) NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[LineTotal] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 27/04/2026 5:40:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[OrderCode] [nvarchar](50) NOT NULL,
	[CustomerName] [nvarchar](150) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[AddressLine] [nvarchar](500) NOT NULL,
	[Note] [nvarchar](1000) NOT NULL,
	[PaymentMethod] [nvarchar](100) NOT NULL,
	[IsPaid] [bit] NOT NULL,
	[OrderStatus] [nvarchar](100) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PolicyPages]    Script Date: 27/04/2026 5:40:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PolicyPages](
	[PolicyId] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [nvarchar](100) NOT NULL,
	[MenuLabel] [nvarchar](150) NOT NULL,
	[Title] [nvarchar](250) NOT NULL,
	[Summary] [nvarchar](1000) NOT NULL,
	[ContentHtml] [nvarchar](max) NOT NULL,
	[SeoTitle] [nvarchar](255) NOT NULL,
	[MetaDescription] [nvarchar](500) NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[SettingId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PolicyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 27/04/2026 5:40:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImages](
	[ImageId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[ImageUrl] [nvarchar](1000) NOT NULL,
	[DisplayOrder] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductReviews]    Script Date: 27/04/2026 5:40:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductReviews](
	[ReviewId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[ReviewerName] [nvarchar](150) NOT NULL,
	[Rating] [int] NOT NULL,
	[CommentText] [nvarchar](max) NOT NULL,
	[ImageUrl] [nvarchar](1000) NOT NULL,
	[ReplyText] [nvarchar](max) NOT NULL,
	[ReplyCreatedAt] [datetime] NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 27/04/2026 5:40:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Brand] [nvarchar](100) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[ProductName] [nvarchar](255) NOT NULL,
	[Cpu] [nvarchar](150) NOT NULL,
	[Ram] [nvarchar](100) NOT NULL,
	[Ssd] [nvarchar](100) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[OldPrice] [decimal](18, 2) NOT NULL,
	[StockQty] [int] NOT NULL,
	[IsFeatured] [bit] NOT NULL,
	[BadgeText] [nvarchar](100) NOT NULL,
	[DescriptionText] [nvarchar](max) NOT NULL,
	[DiscountPercent] [int] NOT NULL,
	[SortOrder] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[SettingId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TechNewsPosts]    Script Date: 27/04/2026 5:40:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TechNewsPosts](
	[PostId] [int] IDENTITY(1,1) NOT NULL,
	[Slug] [nvarchar](200) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Title] [nvarchar](300) NOT NULL,
	[Summary] [nvarchar](1000) NOT NULL,
	[ContentHtml] [nvarchar](max) NOT NULL,
	[SeoTitle] [nvarchar](300) NOT NULL,
	[MetaDescription] [nvarchar](500) NOT NULL,
	[ThumbnailUrl] [nvarchar](1000) NOT NULL,
	[PublishedAtText] [nvarchar](50) NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[IsPublished] [bit] NOT NULL,
	[SettingId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WebsiteSettings]    Script Date: 27/04/2026 5:40:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WebsiteSettings](
	[SettingId] [int] IDENTITY(1,1) NOT NULL,
	[PromoText] [nvarchar](500) NOT NULL,
	[StoreName] [nvarchar](200) NOT NULL,
	[StoreTagline] [nvarchar](300) NOT NULL,
	[LogoText] [nvarchar](20) NOT NULL,
	[WebsiteLogoUrl] [nvarchar](1000) NOT NULL,
	[AdminLogoUrl] [nvarchar](1000) NOT NULL,
	[FaviconUrl] [nvarchar](1000) NOT NULL,
	[WebsiteLogoCropMode] [nvarchar](20) NOT NULL,
	[AdminLogoCropMode] [nvarchar](20) NOT NULL,
	[HeaderButtonText] [nvarchar](100) NOT NULL,
	[HeaderButtonLink] [nvarchar](500) NOT NULL,
	[HeroTitle] [nvarchar](300) NOT NULL,
	[HeroSubtitle] [nvarchar](1000) NOT NULL,
	[HeroButtonText] [nvarchar](100) NOT NULL,
	[HeroButtonLink] [nvarchar](500) NOT NULL,
	[FeaturedBrandsTitle] [nvarchar](150) NOT NULL,
	[DemandSectionTitle] [nvarchar](150) NOT NULL,
	[FeaturedProductsTitle] [nvarchar](150) NOT NULL,
	[FlashTitle] [nvarchar](250) NOT NULL,
	[FlashBadgeText] [nvarchar](120) NOT NULL,
	[FlashCountdownLabel] [nvarchar](120) NOT NULL,
	[FlashCountdownEndsAt] [nvarchar](40) NOT NULL,
	[FlashImageUrl] [nvarchar](1000) NOT NULL,
	[PrimaryColor] [nvarchar](20) NOT NULL,
	[SecondaryColor] [nvarchar](20) NOT NULL,
	[AccentColor] [nvarchar](20) NOT NULL,
	[HeaderBackgroundColor] [nvarchar](20) NOT NULL,
	[HeaderTextColor] [nvarchar](20) NOT NULL,
	[StoreNameFontSize] [int] NOT NULL,
	[StoreTaglineFontSize] [int] NOT NULL,
	[PromoTextFontSize] [int] NOT NULL,
	[HeroBackgroundColor] [nvarchar](20) NOT NULL,
	[HeroTextColor] [nvarchar](20) NOT NULL,
	[HeroTitleFontSize] [int] NOT NULL,
	[HeroSubtitleFontSize] [int] NOT NULL,
	[HeroButtonFontSize] [int] NOT NULL,
	[PopupBackgroundColor] [nvarchar](20) NOT NULL,
	[PopupTextColor] [nvarchar](20) NOT NULL,
	[PopupTitleFontSize] [int] NOT NULL,
	[PopupSubtitleFontSize] [int] NOT NULL,
	[PopupButtonFontSize] [int] NOT NULL,
	[SectionTitleColor] [nvarchar](20) NOT NULL,
	[SectionSubtextColor] [nvarchar](20) NOT NULL,
	[SectionTitleFontSize] [int] NOT NULL,
	[FooterAbout] [nvarchar](1000) NOT NULL,
	[FooterSupportTitle] [nvarchar](150) NOT NULL,
	[FooterSupportLine1] [nvarchar](250) NOT NULL,
	[FooterSupportLine2] [nvarchar](250) NOT NULL,
	[FooterSupportLine3] [nvarchar](250) NOT NULL,
	[FooterBankTitle] [nvarchar](150) NOT NULL,
	[FooterBankLine1] [nvarchar](250) NOT NULL,
	[FooterBankLine2] [nvarchar](250) NOT NULL,
	[FooterBankLine3] [nvarchar](250) NOT NULL,
	[TopPhone1] [nvarchar](50) NOT NULL,
	[TopPhone2] [nvarchar](50) NOT NULL,
	[HeaderAddress] [nvarchar](300) NOT NULL,
	[FooterCompanyHeading] [nvarchar](150) NOT NULL,
	[FooterShowroomTitle] [nvarchar](150) NOT NULL,
	[FooterShowroomAddress] [nvarchar](300) NOT NULL,
	[FooterShowroomHotline] [nvarchar](250) NOT NULL,
	[FooterWarrantyTitle] [nvarchar](150) NOT NULL,
	[FooterWarrantyAddress] [nvarchar](300) NOT NULL,
	[FooterWarrantyHotline] [nvarchar](250) NOT NULL,
	[FooterWorkingHoursTitle] [nvarchar](150) NOT NULL,
	[FooterWorkingHoursLine1] [nvarchar](250) NOT NULL,
	[FooterWorkingHoursLine2] [nvarchar](250) NOT NULL,
	[FooterShippingTitle] [nvarchar](150) NOT NULL,
	[FooterShippingLine1] [nvarchar](100) NOT NULL,
	[FooterShippingLine2] [nvarchar](100) NOT NULL,
	[FooterShippingLine3] [nvarchar](100) NOT NULL,
	[FooterShippingLine4] [nvarchar](100) NOT NULL,
	[FooterQrLabel] [nvarchar](100) NOT NULL,
	[FooterCopyright] [nvarchar](300) NOT NULL,
	[CategoryBannerGamingUrl] [nvarchar](1000) NOT NULL,
	[CategoryBannerOfficeUrl] [nvarchar](1000) NOT NULL,
	[CategoryBannerPremiumUrl] [nvarchar](1000) NOT NULL,
	[CategoryBannerGraphicsUrl] [nvarchar](1000) NOT NULL,
	[CategoryBannerAccessoryUrl] [nvarchar](1000) NOT NULL,
	[CategoryBannerComponentUrl] [nvarchar](1000) NOT NULL,
	[FooterShippingImage1Url] [nvarchar](1000) NOT NULL,
	[FooterShippingImage2Url] [nvarchar](1000) NOT NULL,
	[FooterShippingImage3Url] [nvarchar](1000) NOT NULL,
	[FooterShippingImage4Url] [nvarchar](1000) NOT NULL,
	[FooterQrImageUrl] [nvarchar](1000) NOT NULL,
	[FooterInfoLink1Text] [nvarchar](200) NOT NULL,
	[FooterInfoLink1Url] [nvarchar](500) NOT NULL,
	[FooterInfoLink2Text] [nvarchar](200) NOT NULL,
	[FooterInfoLink2Url] [nvarchar](500) NOT NULL,
	[FooterInfoLink3Text] [nvarchar](200) NOT NULL,
	[FooterInfoLink3Url] [nvarchar](500) NOT NULL,
	[FooterInfoLink4Text] [nvarchar](200) NOT NULL,
	[FooterInfoLink4Url] [nvarchar](500) NOT NULL,
	[FooterInfoLink5Text] [nvarchar](200) NOT NULL,
	[FooterInfoLink5Url] [nvarchar](500) NOT NULL,
	[FooterInfoLink6Text] [nvarchar](200) NOT NULL,
	[FooterInfoLink6Url] [nvarchar](500) NOT NULL,
	[PopupTitle] [nvarchar](250) NOT NULL,
	[PopupSubtitle] [nvarchar](500) NOT NULL,
	[PopupButtonText] [nvarchar](100) NOT NULL,
	[PopupButtonLink] [nvarchar](500) NOT NULL,
	[PopupImageUrl] [nvarchar](1000) NOT NULL,
	[PopupEnabled] [bit] NOT NULL,
	[ShowHeroSection] [bit] NOT NULL,
	[ShowMegaMenu] [bit] NOT NULL,
	[ShowFlashBanner] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SettingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AdminUsers] ON 

INSERT [dbo].[AdminUsers] ([UserId], [Username], [FullName], [PasswordHash], [IsSuperAdmin], [CanViewOrders], [CanUpdateOrders], [CanCancelOrders], [CanViewReviews], [CanReplyReviews], [CanDeleteReviews], [CanManageInventory], [CanDeleteInventory], [CanImportInventory], [IsActive], [CreatedAt], [CanManageWebsite], [SettingId]) VALUES (1, N'admin', N'Quản trị hệ thống', N'8D969EEF6ECAD3C29A3A629280E686CF0C3F5D5A86AFF3CA12020C923ADC6C92', 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, CAST(N'2026-04-02T13:50:48.250' AS DateTime), 1, NULL)
INSERT [dbo].[AdminUsers] ([UserId], [Username], [FullName], [PasswordHash], [IsSuperAdmin], [CanViewOrders], [CanUpdateOrders], [CanCancelOrders], [CanViewReviews], [CanReplyReviews], [CanDeleteReviews], [CanManageInventory], [CanDeleteInventory], [CanImportInventory], [IsActive], [CreatedAt], [CanManageWebsite], [SettingId]) VALUES (2, N'sale', N'Nhan Vien Sales', N'8D969EEF6ECAD3C29A3A629280E686CF0C3F5D5A86AFF3CA12020C923ADC6C92', 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, CAST(N'2026-04-14T17:31:49.803' AS DateTime), 0, NULL)
SET IDENTITY_INSERT [dbo].[AdminUsers] OFF
GO
SET IDENTITY_INSERT [dbo].[BannerSlides] ON 

SET IDENTITY_INSERT [dbo].[BannerSlides] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([OrderItemId], [OrderId], [ProductId], [ProductName], [UnitPrice], [Quantity], [LineTotal]) VALUES (1, 1, 2, N'Acer Aspire 2026', CAST(41990000.00 AS Decimal(18, 2)), 1, CAST(41990000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderItems] ([OrderItemId], [OrderId], [ProductId], [ProductName], [UnitPrice], [Quantity], [LineTotal]) VALUES (2, 2, 29, N'HP ProDesk 011', CAST(8990000.00 AS Decimal(18, 2)), 1, CAST(8990000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderId], [OrderCode], [CustomerName], [Phone], [AddressLine], [Note], [PaymentMethod], [IsPaid], [OrderStatus], [TotalAmount], [CreatedAt]) VALUES (1, N'DH20260402143853', N'Tiên', N'0909756951', N'10/50/50 Bùi Công Trứ, Phường 1, Tân Bình', N'', N'PayLater', 0, N'Chờ thanh toán', CAST(41990000.00 AS Decimal(18, 2)), CAST(N'2026-04-02T14:38:53.733' AS DateTime))
INSERT [dbo].[Orders] ([OrderId], [OrderCode], [CustomerName], [Phone], [AddressLine], [Note], [PaymentMethod], [IsPaid], [OrderStatus], [TotalAmount], [CreatedAt]) VALUES (2, N'DH20260402143915', N'Nương', N'0979345658', N'70 Trường Sơn, Phường Tân Sơn', N'', N'BankTransfer', 1, N'Đã thanh toán - chờ giao', CAST(8990000.00 AS Decimal(18, 2)), CAST(N'2026-04-02T14:39:15.033' AS DateTime))
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[PolicyPages] ON 

SET IDENTITY_INSERT [dbo].[PolicyPages] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductImages] ON 

INSERT [dbo].[ProductImages] ([ImageId], [ProductId], [ImageUrl], [DisplayOrder]) VALUES (5941, 1, N'/images/products/acer/acer-002.jpg', 1)
INSERT [dbo].[ProductImages] ([ImageId], [ProductId], [ImageUrl], [DisplayOrder]) VALUES (5942, 1, N'/images/products/acer/acer-003.jpg', 2)
INSERT [dbo].[ProductImages] ([ImageId], [ProductId], [ImageUrl], [DisplayOrder]) VALUES (5943, 1, N'/images/products/acer/acer-004.jpg', 3)
GO
SET IDENTITY_INSERT [dbo].[ProductImages] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductReviews] ON 

INSERT [dbo].[ProductReviews] ([ReviewId], [ProductId], [ReviewerName], [Rating], [CommentText], [ImageUrl], [ReplyText], [ReplyCreatedAt], [CreatedAt]) VALUES (1, 1, N'Khách hàng', 5, N'Máy chạy ổn định, hình thức đẹp và giao hàng nhanh.', N'', N'Cảm ơn bạn đã tin tưởng Laptop Store Premium.', CAST(N'2026-04-02T13:51:28.650' AS DateTime), CAST(N'2026-04-02T13:51:28.650' AS DateTime))
INSERT [dbo].[ProductReviews] ([ReviewId], [ProductId], [ReviewerName], [Rating], [CommentText], [ImageUrl], [ReplyText], [ReplyCreatedAt], [CreatedAt]) VALUES (2, 2, N'Khách hàng', 5, N'Máy chạy ổn định, hình thức đẹp và giao hàng nhanh.', N'', N'Cảm ơn bạn đã tin tưởng Laptop Store Premium.', CAST(N'2026-04-02T13:51:28.650' AS DateTime), CAST(N'2026-04-02T13:51:28.650' AS DateTime))
INSERT [dbo].[ProductReviews] ([ReviewId], [ProductId], [ReviewerName], [Rating], [CommentText], [ImageUrl], [ReplyText], [ReplyCreatedAt], [CreatedAt]) VALUES (3, 3, N'Khách hàng', 5, N'Máy chạy ổn định, hình thức đẹp và giao hàng nhanh.', N'', N'Cảm ơn bạn đã tin tưởng Laptop Store Premium.', CAST(N'2026-04-02T13:51:28.650' AS DateTime), CAST(N'2026-04-02T13:51:28.650' AS DateTime))
SET IDENTITY_INSERT [dbo].[ProductReviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductId], [Brand], [CategoryName], [ProductName], [Cpu], [Ram], [Ssd], [Price], [OldPrice], [StockQty], [IsFeatured], [BadgeText], [DescriptionText], [DiscountPercent], [SortOrder], [CreatedAt], [SettingId]) VALUES (1, N'Acer', N'Mỏng nhẹ', N'Acer Aspire 2025', N'AMD Ryzen 7 7730U', N'24GB', N'512GB SSD', CAST(35990000.00 AS Decimal(18, 2)), CAST(38990000.00 AS Decimal(18, 2)), 17, 1, N'Bán chạy', N'Laptop mỏng nhẹ cho học tập và làm việc.', 8, 1, CAST(N'2026-04-02T13:51:28.580' AS DateTime), NULL)
INSERT [dbo].[Products] ([ProductId], [Brand], [CategoryName], [ProductName], [Cpu], [Ram], [Ssd], [Price], [OldPrice], [StockQty], [IsFeatured], [BadgeText], [DescriptionText], [DiscountPercent], [SortOrder], [CreatedAt], [SettingId]) VALUES (2, N'Acer', N'Mỏng nhẹ', N'Acer Aspire 2026', N'Intel Core 7 150U', N'16GB', N'512GB SSD', CAST(41990000.00 AS Decimal(18, 2)), CAST(43990000.00 AS Decimal(18, 2)), 11, 1, N'Mới', N'Mẫu máy mới cân bằng hiệu năng và di động.', 5, 2, CAST(N'2026-04-02T13:51:28.580' AS DateTime), NULL)
INSERT [dbo].[Products] ([ProductId], [Brand], [CategoryName], [ProductName], [Cpu], [Ram], [Ssd], [Price], [OldPrice], [StockQty], [IsFeatured], [BadgeText], [DescriptionText], [DiscountPercent], [SortOrder], [CreatedAt], [SettingId]) VALUES (3, N'Acer', N'Gaming', N'Acer Nitro V 2024', N'AMD Ryzen 7 7730U', N'24GB', N'512GB SSD', CAST(24990000.00 AS Decimal(18, 2)), CAST(27990000.00 AS Decimal(18, 2)), 8, 0, N'Ưu đãi', N'Laptop gaming phổ thông hiệu năng tốt.', 10, 3, CAST(N'2026-04-02T13:51:28.580' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[TechNewsPosts] ON 

SET IDENTITY_INSERT [dbo].[TechNewsPosts] OFF
GO
SET IDENTITY_INSERT [dbo].[WebsiteSettings] ON 

SET IDENTITY_INSERT [dbo].[WebsiteSettings] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__AdminUse__536C85E46D7C71F8]    Script Date: 27/04/2026 5:40:32 PM ******/
ALTER TABLE [dbo].[AdminUsers] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__AdminUse__536C85E4761FA097]    Script Date: 27/04/2026 5:40:32 PM ******/
ALTER TABLE [dbo].[AdminUsers] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PolicyPa__7DF846F43B4FC435]    Script Date: 27/04/2026 5:40:32 PM ******/
ALTER TABLE [dbo].[PolicyPages] ADD UNIQUE NONCLUSTERED 
(
	[PolicyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PolicyPa__7DF846F4A23D1DA4]    Script Date: 27/04/2026 5:40:32 PM ******/
ALTER TABLE [dbo].[PolicyPages] ADD UNIQUE NONCLUSTERED 
(
	[PolicyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TechNews__BC7B5FB61D9A650E]    Script Date: 27/04/2026 5:40:32 PM ******/
ALTER TABLE [dbo].[TechNewsPosts] ADD UNIQUE NONCLUSTERED 
(
	[Slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TechNews__BC7B5FB6E16894A7]    Script Date: 27/04/2026 5:40:32 PM ******/
ALTER TABLE [dbo].[TechNewsPosts] ADD UNIQUE NONCLUSTERED 
(
	[Slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AdminUsers] ADD  DEFAULT ((0)) FOR [IsSuperAdmin]
GO
ALTER TABLE [dbo].[AdminUsers] ADD  DEFAULT ((0)) FOR [CanViewOrders]
GO
ALTER TABLE [dbo].[AdminUsers] ADD  DEFAULT ((0)) FOR [CanUpdateOrders]
GO
ALTER TABLE [dbo].[AdminUsers] ADD  DEFAULT ((0)) FOR [CanCancelOrders]
GO
ALTER TABLE [dbo].[AdminUsers] ADD  DEFAULT ((0)) FOR [CanViewReviews]
GO
ALTER TABLE [dbo].[AdminUsers] ADD  DEFAULT ((0)) FOR [CanReplyReviews]
GO
ALTER TABLE [dbo].[AdminUsers] ADD  DEFAULT ((0)) FOR [CanDeleteReviews]
GO
ALTER TABLE [dbo].[AdminUsers] ADD  DEFAULT ((0)) FOR [CanManageInventory]
GO
ALTER TABLE [dbo].[AdminUsers] ADD  DEFAULT ((0)) FOR [CanDeleteInventory]
GO
ALTER TABLE [dbo].[AdminUsers] ADD  DEFAULT ((0)) FOR [CanImportInventory]
GO
ALTER TABLE [dbo].[AdminUsers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AdminUsers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AdminUsers] ADD  CONSTRAINT [DF_AdminUsers_CanManageWebsite_Alter]  DEFAULT ((0)) FOR [CanManageWebsite]
GO
ALTER TABLE [dbo].[BannerSlides] ADD  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[BannerSlides] ADD  CONSTRAINT [DF_BannerSlides_ButtonText_Alter]  DEFAULT (N'Khám phá ngay') FOR [ButtonText]
GO
ALTER TABLE [dbo].[BannerSlides] ADD  CONSTRAINT [DF_BannerSlides_SecondaryButtonText_Alter]  DEFAULT (N'Xem chi tiết') FOR [SecondaryButtonText]
GO
ALTER TABLE [dbo].[BannerSlides] ADD  CONSTRAINT [DF_BannerSlides_SecondaryButtonLink_Alter]  DEFAULT (N'/Product/Catalog') FOR [SecondaryButtonLink]
GO
ALTER TABLE [dbo].[BannerSlides] ADD  CONSTRAINT [DF_BannerSlides_KickerText_Alter]  DEFAULT (N'ƯU ĐÃI NỔI BẬT') FOR [KickerText]
GO
ALTER TABLE [dbo].[BannerSlides] ADD  CONSTRAINT [DF_BannerSlides_ThemePrimaryColor_Alter]  DEFAULT (N'#cf2027') FOR [ThemePrimaryColor]
GO
ALTER TABLE [dbo].[BannerSlides] ADD  CONSTRAINT [DF_BannerSlides_ThemeAccentColor_Alter]  DEFAULT (N'#7c3aed') FOR [ThemeAccentColor]
GO
ALTER TABLE [dbo].[BannerSlides] ADD  CONSTRAINT [DF_BannerSlides_TitleFontSize_Alter]  DEFAULT ((54)) FOR [TitleFontSize]
GO
ALTER TABLE [dbo].[BannerSlides] ADD  CONSTRAINT [DF_BannerSlides_SubtitleFontSize_Alter]  DEFAULT ((18)) FOR [SubtitleFontSize]
GO
ALTER TABLE [dbo].[BannerSlides] ADD  CONSTRAINT [DF_BannerSlides_KickerFontSize_Alter]  DEFAULT ((13)) FOR [KickerFontSize]
GO
ALTER TABLE [dbo].[BannerSlides] ADD  CONSTRAINT [DF_BannerSlides_ButtonFontSize_Alter]  DEFAULT ((17)) FOR [ButtonFontSize]
GO
ALTER TABLE [dbo].[BannerSlides] ADD  CONSTRAINT [DF_BannerSlides_ChipFontSize_Alter]  DEFAULT ((13)) FOR [ChipFontSize]
GO
ALTER TABLE [dbo].[BannerSlides] ADD  CONSTRAINT [DF_BannerSlides_PanelOpacityPercent_Alter]  DEFAULT ((88)) FOR [PanelOpacityPercent]
GO
ALTER TABLE [dbo].[BannerSlides] ADD  CONSTRAINT [DF_BannerSlides_PanelWidthPercent_Alter]  DEFAULT ((42)) FOR [PanelWidthPercent]
GO
ALTER TABLE [dbo].[BannerSlides] ADD  CONSTRAINT [DF_BannerSlides_PanelPadding_Alter]  DEFAULT ((30)) FOR [PanelPadding]
GO
ALTER TABLE [dbo].[BannerSlides] ADD  CONSTRAINT [DF_BannerSlides_PanelRadius_Alter]  DEFAULT ((28)) FOR [PanelRadius]
GO
ALTER TABLE [dbo].[OrderItems] ADD  CONSTRAINT [DF_OrderItems_ProductName]  DEFAULT (N'') FOR [ProductName]
GO
ALTER TABLE [dbo].[OrderItems] ADD  CONSTRAINT [DF_OrderItems_UnitPrice]  DEFAULT ((0)) FOR [UnitPrice]
GO
ALTER TABLE [dbo].[OrderItems] ADD  CONSTRAINT [DF_OrderItems_Quantity]  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[OrderItems] ADD  CONSTRAINT [DF_OrderItems_LineTotal]  DEFAULT ((0)) FOR [LineTotal]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_OrderCode]  DEFAULT (N'') FOR [OrderCode]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_CustomerName]  DEFAULT (N'') FOR [CustomerName]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_Phone]  DEFAULT (N'') FOR [Phone]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_AddressLine]  DEFAULT (N'') FOR [AddressLine]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_Note]  DEFAULT (N'') FOR [Note]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_PaymentMethod]  DEFAULT (N'COD') FOR [PaymentMethod]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_IsPaid]  DEFAULT ((0)) FOR [IsPaid]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_OrderStatus]  DEFAULT (N'Chờ xác nhận') FOR [OrderStatus]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_TotalAmount]  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PolicyPages] ADD  CONSTRAINT [DF_PolicyPages_MenuLabel]  DEFAULT (N'') FOR [MenuLabel]
GO
ALTER TABLE [dbo].[PolicyPages] ADD  CONSTRAINT [DF_PolicyPages_Title]  DEFAULT (N'') FOR [Title]
GO
ALTER TABLE [dbo].[PolicyPages] ADD  CONSTRAINT [DF_PolicyPages_Summary]  DEFAULT (N'') FOR [Summary]
GO
ALTER TABLE [dbo].[PolicyPages] ADD  CONSTRAINT [DF_PolicyPages_ContentHtml]  DEFAULT (N'') FOR [ContentHtml]
GO
ALTER TABLE [dbo].[PolicyPages] ADD  CONSTRAINT [DF_PolicyPages_SeoTitle]  DEFAULT (N'') FOR [SeoTitle]
GO
ALTER TABLE [dbo].[PolicyPages] ADD  CONSTRAINT [DF_PolicyPages_MetaDescription]  DEFAULT (N'') FOR [MetaDescription]
GO
ALTER TABLE [dbo].[PolicyPages] ADD  CONSTRAINT [DF_PolicyPages_DisplayOrder]  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[ProductImages] ADD  CONSTRAINT [DF_ProductImages_ImageUrl]  DEFAULT (N'') FOR [ImageUrl]
GO
ALTER TABLE [dbo].[ProductImages] ADD  CONSTRAINT [DF_ProductImages_DisplayOrder]  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[ProductReviews] ADD  CONSTRAINT [DF_ProductReviews_ReviewerName]  DEFAULT (N'Khách hàng') FOR [ReviewerName]
GO
ALTER TABLE [dbo].[ProductReviews] ADD  CONSTRAINT [DF_ProductReviews_Rating]  DEFAULT ((5)) FOR [Rating]
GO
ALTER TABLE [dbo].[ProductReviews] ADD  CONSTRAINT [DF_ProductReviews_CommentText]  DEFAULT (N'') FOR [CommentText]
GO
ALTER TABLE [dbo].[ProductReviews] ADD  CONSTRAINT [DF_ProductReviews_ImageUrl]  DEFAULT (N'') FOR [ImageUrl]
GO
ALTER TABLE [dbo].[ProductReviews] ADD  CONSTRAINT [DF_ProductReviews_ReplyText]  DEFAULT (N'') FOR [ReplyText]
GO
ALTER TABLE [dbo].[ProductReviews] ADD  CONSTRAINT [DF_ProductReviews_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_Brand]  DEFAULT (N'') FOR [Brand]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_CategoryName]  DEFAULT (N'') FOR [CategoryName]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_ProductName]  DEFAULT (N'') FOR [ProductName]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_Cpu]  DEFAULT (N'') FOR [Cpu]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_Ram]  DEFAULT (N'') FOR [Ram]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_Ssd]  DEFAULT (N'') FOR [Ssd]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_Price]  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_OldPrice]  DEFAULT ((0)) FOR [OldPrice]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_StockQty]  DEFAULT ((0)) FOR [StockQty]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_IsFeatured]  DEFAULT ((0)) FOR [IsFeatured]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_BadgeText]  DEFAULT (N'') FOR [BadgeText]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_DescriptionText]  DEFAULT (N'') FOR [DescriptionText]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_DiscountPercent]  DEFAULT ((0)) FOR [DiscountPercent]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_SortOrder]  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TechNewsPosts] ADD  CONSTRAINT [DF_TechNewsPosts_CategoryName]  DEFAULT (N'Đánh giá Laptop Hp Probook 650 G4') FOR [CategoryName]
GO
ALTER TABLE [dbo].[TechNewsPosts] ADD  CONSTRAINT [DF_TechNewsPosts_Summary]  DEFAULT (N'') FOR [Summary]
GO
ALTER TABLE [dbo].[TechNewsPosts] ADD  CONSTRAINT [DF_TechNewsPosts_ContentHtml]  DEFAULT (N'') FOR [ContentHtml]
GO
ALTER TABLE [dbo].[TechNewsPosts] ADD  CONSTRAINT [DF_TechNewsPosts_SeoTitle]  DEFAULT (N'') FOR [SeoTitle]
GO
ALTER TABLE [dbo].[TechNewsPosts] ADD  CONSTRAINT [DF_TechNewsPosts_MetaDescription]  DEFAULT (N'') FOR [MetaDescription]
GO
ALTER TABLE [dbo].[TechNewsPosts] ADD  CONSTRAINT [DF_TechNewsPosts_ThumbnailUrl]  DEFAULT (N'') FOR [ThumbnailUrl]
GO
ALTER TABLE [dbo].[TechNewsPosts] ADD  CONSTRAINT [DF_TechNewsPosts_PublishedAtText]  DEFAULT (N'27 Th3') FOR [PublishedAtText]
GO
ALTER TABLE [dbo].[TechNewsPosts] ADD  CONSTRAINT [DF_TechNewsPosts_DisplayOrder]  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[TechNewsPosts] ADD  CONSTRAINT [DF_TechNewsPosts_IsPublished]  DEFAULT ((1)) FOR [IsPublished]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_PromoText]  DEFAULT (N'Miễn phí giao hàng nội thành cho đơn từ 15 triệu • Hotline: 1900 1234') FOR [PromoText]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_StoreName]  DEFAULT (N'Laptop Store Premium') FOR [StoreName]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_StoreTagline]  DEFAULT (N'Laptop • Gaming • Văn phòng • Doanh nhân') FOR [StoreTagline]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_LogoText]  DEFAULT (N'LS') FOR [LogoText]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_WebsiteLogoUrl]  DEFAULT (N'') FOR [WebsiteLogoUrl]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_AdminLogoUrl]  DEFAULT (N'') FOR [AdminLogoUrl]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_FaviconUrl]  DEFAULT (N'') FOR [FaviconUrl]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_WebsiteLogoCropMode]  DEFAULT (N'square') FOR [WebsiteLogoCropMode]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_AdminLogoCropMode]  DEFAULT (N'square') FOR [AdminLogoCropMode]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_HeaderButtonText]  DEFAULT (N'Xem sản phẩm') FOR [HeaderButtonText]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_HeaderButtonLink]  DEFAULT (N'/Product/Catalog') FOR [HeaderButtonLink]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_HeroTitle]  DEFAULT (N'Giao diện bán laptop hiện đại, chuyên nghiệp và dễ quản trị') FOR [HeroTitle]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_HeroSubtitle]  DEFAULT (N'Tối ưu trải nghiệm mua hàng với banner đẹp, danh mục rõ ràng và quản trị nội dung trực tiếp từ admin.') FOR [HeroSubtitle]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_HeroButtonText]  DEFAULT (N'Khám phá ngay') FOR [HeroButtonText]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_HeroButtonLink]  DEFAULT (N'/Product/Catalog') FOR [HeroButtonLink]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_FeaturedBrandsTitle]  DEFAULT (N'Thương hiệu nổi bật') FOR [FeaturedBrandsTitle]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_DemandSectionTitle]  DEFAULT (N'Nhu cầu sử dụng') FOR [DemandSectionTitle]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_FeaturedProductsTitle]  DEFAULT (N'Sản phẩm nổi bật') FOR [FeaturedProductsTitle]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_FlashTitle]  DEFAULT (N'Laptop giá chạm đáy. Đừng bỏ lỡ!') FOR [FlashTitle]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_FlashBadgeText]  DEFAULT (N'FLASH SALE') FOR [FlashBadgeText]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_FlashCountdownLabel]  DEFAULT (N'Kết thúc trong:') FOR [FlashCountdownLabel]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_FlashCountdownEndsAt]  DEFAULT (N'2030-12-31T23:59:59') FOR [FlashCountdownEndsAt]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_FlashImageUrl]  DEFAULT (N'/images/banners/flash-pro.svg') FOR [FlashImageUrl]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_PrimaryColor]  DEFAULT (N'#cf2027') FOR [PrimaryColor]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_SecondaryColor]  DEFAULT (N'#1d4ed8') FOR [SecondaryColor]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_AccentColor]  DEFAULT (N'#7c3aed') FOR [AccentColor]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_HeaderBackgroundColor]  DEFAULT (N'#ffffff') FOR [HeaderBackgroundColor]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_HeaderTextColor]  DEFAULT (N'#0f172a') FOR [HeaderTextColor]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_StoreNameFontSize]  DEFAULT ((18)) FOR [StoreNameFontSize]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_StoreTaglineFontSize]  DEFAULT ((14)) FOR [StoreTaglineFontSize]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_PromoTextFontSize]  DEFAULT ((14)) FOR [PromoTextFontSize]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_HeroBackgroundColor]  DEFAULT (N'#ffffff') FOR [HeroBackgroundColor]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_HeroTextColor]  DEFAULT (N'#0f172a') FOR [HeroTextColor]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_HeroTitleFontSize]  DEFAULT ((42)) FOR [HeroTitleFontSize]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_HeroSubtitleFontSize]  DEFAULT ((18)) FOR [HeroSubtitleFontSize]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_HeroButtonFontSize]  DEFAULT ((18)) FOR [HeroButtonFontSize]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_PopupBackgroundColor]  DEFAULT (N'#ffffff') FOR [PopupBackgroundColor]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_PopupTextColor]  DEFAULT (N'#0f172a') FOR [PopupTextColor]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_PopupTitleFontSize]  DEFAULT ((38)) FOR [PopupTitleFontSize]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_PopupSubtitleFontSize]  DEFAULT ((16)) FOR [PopupSubtitleFontSize]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_PopupButtonFontSize]  DEFAULT ((17)) FOR [PopupButtonFontSize]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_SectionTitleColor]  DEFAULT (N'#0f172a') FOR [SectionTitleColor]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_SectionSubtextColor]  DEFAULT (N'#475569') FOR [SectionSubtextColor]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_SectionTitleFontSize]  DEFAULT ((22)) FOR [SectionTitleFontSize]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_FooterAbout]  DEFAULT (N'Website chuyên đề xây dựng website bán laptop với giỏ hàng, thanh toán giả lập và quản lý đơn hàng.') FOR [FooterAbout]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_FooterSupportTitle]  DEFAULT (N'Hỗ trợ') FOR [FooterSupportTitle]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_FooterSupportLine1]  DEFAULT (N'Giao hàng toàn quốc') FOR [FooterSupportLine1]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_FooterSupportLine2]  DEFAULT (N'Đổi trả dễ dàng') FOR [FooterSupportLine2]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_FooterSupportLine3]  DEFAULT (N'Bảo hành chính hãng') FOR [FooterSupportLine3]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_FooterBankTitle]  DEFAULT (N'Thông tin chuyển khoản') FOR [FooterBankTitle]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_FooterBankLine1]  DEFAULT (N'VCB - Vietcombank') FOR [FooterBankLine1]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_FooterBankLine2]  DEFAULT (N'STK: 190012340001') FOR [FooterBankLine2]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_FooterBankLine3]  DEFAULT (N'Chủ TK: LAPTOP STORE PREMIUM') FOR [FooterBankLine3]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_TopPhone1]  DEFAULT (N'0903 344 188') FOR [TopPhone1]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_TopPhone2]  DEFAULT (N'0909 344 188') FOR [TopPhone2]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_HeaderAddress]  DEFAULT (N'617 Đường 3 Tháng 2, P.8, Quận 10, HCM') FOR [HeaderAddress]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_FooterCompanyHeading]  DEFAULT (N'CỬA HÀNG') FOR [FooterCompanyHeading]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_FooterShowroomTitle]  DEFAULT (N'Showroom bán hàng') FOR [FooterShowroomTitle]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_FooterShowroomAddress]  DEFAULT (N'Địa chỉ: 617 Đường 3 tháng 2, Phường 8, Quận 10, TP. Hồ Chí Minh') FOR [FooterShowroomAddress]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_FooterShowroomHotline]  DEFAULT (N'Hotline: 0903 344 188 - 0909 344 188') FOR [FooterShowroomHotline]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_FooterWarrantyTitle]  DEFAULT (N'Trung tâm bảo hành') FOR [FooterWarrantyTitle]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_FooterWarrantyAddress]  DEFAULT (N'Địa chỉ: 530 Đường 3 tháng 2, Phường 14, Quận 10, TP. Hồ Chí Minh') FOR [FooterWarrantyAddress]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_FooterWarrantyHotline]  DEFAULT (N'Hỗ trợ kỹ thuật: 0909 054 758') FOR [FooterWarrantyHotline]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_FooterWorkingHoursTitle]  DEFAULT (N'Thời gian làm việc') FOR [FooterWorkingHoursTitle]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_FooterWorkingHoursLine1]  DEFAULT (N'Showroom: Thứ 2 – Chủ Nhật (8:00 – 21:00)') FOR [FooterWorkingHoursLine1]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_FooterWorkingHoursLine2]  DEFAULT (N'TT Bảo hành: Thứ 2 – Thứ 7 (8:00 – 17:00)') FOR [FooterWorkingHoursLine2]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_FooterShippingTitle]  DEFAULT (N'DỊCH VỤ GIAO HÀNG') FOR [FooterShippingTitle]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_FooterShippingLine1]  DEFAULT (N'VIETNAM POST') FOR [FooterShippingLine1]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_FooterShippingLine2]  DEFAULT (N'GHN') FOR [FooterShippingLine2]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_FooterShippingLine3]  DEFAULT (N'Viettel Post') FOR [FooterShippingLine3]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_FooterShippingLine4]  DEFAULT (N'AhaMove') FOR [FooterShippingLine4]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_FooterQrLabel]  DEFAULT (N'QR THANH TOÁN') FOR [FooterQrLabel]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_FooterCopyright]  DEFAULT (N'© Copyright Laptop Store - Chuyên Đề Xây Dựng Website Bán Laptop') FOR [FooterCopyright]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_CategoryBannerGamingUrl]  DEFAULT (N'/images/banners/campaign-gaming.jpg') FOR [CategoryBannerGamingUrl]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_CategoryBannerOfficeUrl]  DEFAULT (N'/images/banners/campaign-office.jpg') FOR [CategoryBannerOfficeUrl]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_CategoryBannerPremiumUrl]  DEFAULT (N'/images/banners/campaign-weekend.jpg') FOR [CategoryBannerPremiumUrl]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_CategoryBannerGraphicsUrl]  DEFAULT (N'/images/banners/campaign-macbook.jpg') FOR [CategoryBannerGraphicsUrl]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_CategoryBannerAccessoryUrl]  DEFAULT (N'/images/accessories/accessory-keyboard.svg') FOR [CategoryBannerAccessoryUrl]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_CategoryBannerComponentUrl]  DEFAULT (N'/images/accessories/component-ram.svg') FOR [CategoryBannerComponentUrl]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_FooterShippingImage1Url]  DEFAULT (N'') FOR [FooterShippingImage1Url]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_FooterShippingImage2Url]  DEFAULT (N'') FOR [FooterShippingImage2Url]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_FooterShippingImage3Url]  DEFAULT (N'') FOR [FooterShippingImage3Url]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_FooterShippingImage4Url]  DEFAULT (N'') FOR [FooterShippingImage4Url]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_FooterQrImageUrl]  DEFAULT (N'') FOR [FooterQrImageUrl]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_FooterInfoLink1Text]  DEFAULT (N'Đánh giá Laptop Hp Probook 650 G4') FOR [FooterInfoLink1Text]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_FooterInfoLink1Url]  DEFAULT (N'/TechNews/Details?slug=danh-gia-hp-probook-650-g4-van-phong-man-hinh-to') FOR [FooterInfoLink1Url]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_FooterInfoLink2Text]  DEFAULT (N'Laptop xách tay là gì?') FOR [FooterInfoLink2Text]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_FooterInfoLink2Url]  DEFAULT (N'/TechNews/Details?slug=laptop-xach-tay-la-gi-nen-mua-khong') FOR [FooterInfoLink2Url]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_FooterInfoLink3Text]  DEFAULT (N'Mẹo dùng laptop bền và mượt') FOR [FooterInfoLink3Text]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_FooterInfoLink3Url]  DEFAULT (N'/TechNews/Details?slug=thu-thuat-meo-su-dung-laptop-ben-va-muot') FOR [FooterInfoLink3Url]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_FooterInfoLink4Text]  DEFAULT (N'Top game phù hợp laptop gaming') FOR [FooterInfoLink4Text]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_FooterInfoLink4Url]  DEFAULT (N'/TechNews/Details?slug=top-game-phu-hop-laptop-gaming') FOR [FooterInfoLink4Url]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_FooterInfoLink5Text]  DEFAULT (N'Hỏi đáp khi mua laptop xách tay') FOR [FooterInfoLink5Text]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_FooterInfoLink5Url]  DEFAULT (N'/TechNews/Details?slug=hoi-dap-khi-mua-laptop-xach-tay') FOR [FooterInfoLink5Url]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_FooterInfoLink6Text]  DEFAULT (N'Chính sách bảo hành và hỗ trợ') FOR [FooterInfoLink6Text]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_FooterInfoLink6Url]  DEFAULT (N'/support/warranty') FOR [FooterInfoLink6Url]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_PopupTitle_Create]  DEFAULT (N'Siêu ưu đãi cuối tuần') FOR [PopupTitle]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_PopupSubtitle_Create]  DEFAULT (N'Giảm sâu cho laptop văn phòng, gaming và phụ kiện khi đặt online hôm nay.') FOR [PopupSubtitle]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_PopupButtonText_Create]  DEFAULT (N'Xem ưu đãi') FOR [PopupButtonText]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_PopupButtonLink_Create]  DEFAULT (N'/Product/Catalog') FOR [PopupButtonLink]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_PopupImageUrl_Create]  DEFAULT (N'/images/banners/hero-2.svg') FOR [PopupImageUrl]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_PopupEnabled_Create]  DEFAULT ((1)) FOR [PopupEnabled]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_ShowHeroSection_Create]  DEFAULT ((1)) FOR [ShowHeroSection]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_ShowMegaMenu_Create]  DEFAULT ((1)) FOR [ShowMegaMenu]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  CONSTRAINT [DF_WebsiteSettings_ShowFlashBanner_Create]  DEFAULT ((1)) FOR [ShowFlashBanner]
GO
ALTER TABLE [dbo].[AdminUsers]  WITH CHECK ADD  CONSTRAINT [FK_AdminUsers_WebsiteSettings] FOREIGN KEY([SettingId])
REFERENCES [dbo].[WebsiteSettings] ([SettingId])
GO
ALTER TABLE [dbo].[AdminUsers] CHECK CONSTRAINT [FK_AdminUsers_WebsiteSettings]
GO
ALTER TABLE [dbo].[BannerSlides]  WITH CHECK ADD  CONSTRAINT [FK_BannerSlides_WebsiteSettings] FOREIGN KEY([SettingId])
REFERENCES [dbo].[WebsiteSettings] ([SettingId])
GO
ALTER TABLE [dbo].[BannerSlides] CHECK CONSTRAINT [FK_BannerSlides_WebsiteSettings]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Orders]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Products]
GO
ALTER TABLE [dbo].[PolicyPages]  WITH CHECK ADD  CONSTRAINT [FK_PolicyPages_WebsiteSettings] FOREIGN KEY([SettingId])
REFERENCES [dbo].[WebsiteSettings] ([SettingId])
GO
ALTER TABLE [dbo].[PolicyPages] CHECK CONSTRAINT [FK_PolicyPages_WebsiteSettings]
GO
ALTER TABLE [dbo].[ProductImages]  WITH CHECK ADD  CONSTRAINT [FK_ProductImages_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[ProductImages] CHECK CONSTRAINT [FK_ProductImages_Products]
GO
ALTER TABLE [dbo].[ProductReviews]  WITH CHECK ADD  CONSTRAINT [FK_ProductReviews_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[ProductReviews] CHECK CONSTRAINT [FK_ProductReviews_Products]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_WebsiteSettings] FOREIGN KEY([SettingId])
REFERENCES [dbo].[WebsiteSettings] ([SettingId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_WebsiteSettings]
GO
ALTER TABLE [dbo].[TechNewsPosts]  WITH CHECK ADD  CONSTRAINT [FK_TechNewsPosts_WebsiteSettings] FOREIGN KEY([SettingId])
REFERENCES [dbo].[WebsiteSettings] ([SettingId])
GO
ALTER TABLE [dbo].[TechNewsPosts] CHECK CONSTRAINT [FK_TechNewsPosts_WebsiteSettings]
GO
USE [master]
GO
